<div class="col-md-12">
  <div class="card card-block">
    <h4 class="card-title">Reset Password</h4>

    <form id="resetPasswordForm" (ngSubmit)="onSubmit()">

      <div class="alert alert-danger" *ngIf="errors">
        <ul>
          <li *ngFor="let error of errors">
            {{error}}
          </li>
        </ul>
      </div>

      <div class="form-group">
        <input #email_field="ngModel" [(ngModel)]="resetPasswordData.email" email name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </div>

      <button type="submit" class="btn btn-primary">Send reset password instructions</button>

    </form>

  </div>
</div>
