<form [formGroup]="newOfferForm" novalidate (ngSubmit)="createOffer(newOfferForm)">
  <div class="form-group">
    <label>Тип предложения</label>
    <div class="form-check">
      <input formControlName="offer_type" class="form-check-input" type="radio" id="airplane-check-box" value="airplane">
      <label class="form-check-label" for="airplane-check-box">
        Самолет
      </label>
    </div>
    <div class="form-check">
      <input formControlName="offer_type" class="form-check-input" type="radio" id="train-check-box" value="train">
      <label class="form-check-label" for="train-check-box">
        Поезд
      </label>
    </div>
    <div class="form-check">
      <input formControlName="offer_type" class="form-check-input" type="radio" id="bus-check-box" value="bus">
      <label class="form-check-label" for="bus-check-box">
        Автобус
      </label>
    </div>
    <div class="form-check">
      <input formControlName="offer_type" class="form-check-input" type="radio" id="rent-car-check-box" value="rent-car">
      <label class="form-check-label" for="rent-car-check-box">
        Аренда авто
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="offer-name">Название</label>
    <input formControlName="offer_name" class="form-control" id="offer-name">
    <small id="offer-name-hint" class="form-text text-muted">Используйте названия которые помогут
      пользователю быстро понять суть предложений.</small>
  </div>

  <div class="form-group">
    <label>Город отправления</label>
    <app-google-autocomplete formControlName="to_google_place_id"></app-google-autocomplete>
  </div>

  <div class="form-group">
    <label>Город прибытия</label>
    <app-google-autocomplete formControlName="from_google_place_id"></app-google-autocomplete>
  </div>

  <div class="form-group">
    <div class="form-check">
      <input (change)="addTransfer()" formControlName="direct_trip" name="directTrip" class="form-check-input" type="checkbox" id="direct-trip">
      <label class="form-check-label" for="direct-trip">
        Прямой
      </label>
    </div>
  </div>

  <div formArrayName="transfers">
    <div *ngFor="let transfer of newOfferForm.controls.transfers.controls; let i=index" class="card form-group">
      <div class="card-header">
        <span>Пересадка {{i + 1}}</span>
        <span class="float-right" style="cursor: pointer" *ngIf="newOfferForm.controls.transfers.controls.length > 1" (click)="removeTransfer(i)">Удалить</span>
      </div>
      <div class="card-body" [formGroupName]="i">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Город пересадки</label>
            <app-google-autocomplete formControlName="transfer_city"></app-google-autocomplete>
          </div>
          <div class="form-group col-md-6">
           <label>Авиакомпания</label>
           <input type="text" class="form-control" formControlName="airline">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button [hidden]="newOfferForm.value.direct_trip" (click)="addTransfer()" type="button" class="btn btn-outline-primary">Добавить еще одну пересадку</button>
  </div>

  <div class="form-group">
    <label for="offer-name">Цена</label>
    <input formControlName="price" class="form-control" id="price">
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!newOfferForm.valid">Submit</button>

</form>
