<input [hidden]="true" [value]="autocompleteResult" (change)="onChange($event)" type="text" class="form-control">
<div class="form-group">
  <input id="typeahead-http"
         type="text" class="form-control"
         placeholder="Введите название авиакомпании"
         (selectItem)="selectItem()"
         [resultFormatter]="formatMatches"
         [inputFormatter]="formatMatches"
         [class.is-invalid]="searchFailed"
         [ngbTypeahead]="search"
         [(ngModel)]="selected_item"
         [disabled]="searchFailed"
  >
  <span *ngIf="searching">Поиск авиакомпании...</span>
  <div class="invalid-feedback" *ngIf="searchFailed">Ничего не найденно.</div>
</div>
