<div class="row">
  <div class="col-md-6 col-xl-12">
    <div class="card card-shadow mb-4">
      <div class="card-header border-0">
        <div class="custom-title-wrap bar-primary">
          <div class="custom-title">Update password</div>
        </div>
      </div>
      <div class="card-body">
        <form id="changePasswordForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="validationCustom01">New Password</label>
              <input [(ngModel)]="updatePasswordData.password"
                     #password="ngModel"
                     required
                     minlength="8"
                     type="password"
                     name="password"
                     class="form-control"
                     id="validationCustom01"
                     placeholder="at least 8 characters">
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                <div *ngIf="password.errors.minlength">
                  is too short (minimum is 8 characters)
                </div>
                <div *ngIf="password.errors.required">
                  can't be blank
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="validationCustom03">New Password Confirmation</label>
              <input [(ngModel)]="updatePasswordData.passwordConfirmation"
                     #password_confirmation="ngModel"
                     type="password"
                     name="password-confirmation"
                     class="form-control"
                     id="validationCustom03"
                     minlength="8"
                     placeholder="at least 8 characters"
                     required>
              <div *ngIf="password_confirmation.invalid && (password_confirmation.dirty || password_confirmation.touched)" class="invalid-feedback">
                <div *ngIf="password_confirmation.errors.minlength">
                  is too short (minimum is 8 characters)
                </div>
                <div *ngIf="password_confirmation.errors.required">
                  can't be blank
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

