<div class="col-md-6">
  <div class="card card-block">
    <h4 class="card-title">Update Password</h4>

    <form id="changePasswordForm" (ngSubmit)="onSubmit()">

      <div class="form-group" *ngIf="!reset_password">
        <input type="text"
               class="form-control"
               placeholder="Current Password"
               required
               [(ngModel)]="updatePasswordData.passwordCurrent"
               name="current-password">
      </div>

      <div class="form-group">
        <input type="password"
               class="form-control"
               placeholder="New Password"
               required
               [(ngModel)]="updatePasswordData.password"
               name="password">
      </div>

      <div class="form-group">
        <input type="password"
               class="form-control"
               placeholder="New Password Confirmation"
               required
               [(ngModel)]="updatePasswordData.passwordConfirmation"
               name="password-confirmation">
      </div>

      <button
        type="submit"
        class="btn btn-primary">
        Update Password
      </button>

    </form>

  </div>
</div>
