<div class="login-bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 d-lg-flex align-items-center">
        <!--login form-->
        <div class="login-form">
          <h4 class="text-uppercase text-purple text-center mb-5">Login</h4>
          <form class="form" autocomplete="off" id="formLogin" novalidate="">
            <div class="form-group">
              <input #email_field="ngModel" [(ngModel)]="signInData.email" email name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              <div *ngIf="email_field.invalid && (email_field.dirty || email_field.touched)" class="alert alert-danger">
                <div *ngIf="email_field.errors.email">
                  Email is incorrect.
                </div>
              </div>

            </div>
            <div class="form-group mb-4">
              <input #password_field="ngModel" [(ngModel)]="signInData.password" minlength="6" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
              <div *ngIf="password_field.invalid && (password_field.dirty || password_field.touched)" class="alert alert-danger">
                <div *ngIf="password_field.errors.minlength">
                  Name must be at least 6 characters long.
                </div>
              </div>
            </div>

            <div *ngIf="error" class="alert alert-danger color-white">
              {{error}}
            </div>

            <div class="form-group clearfix">
              <a routerLink="/forgot-password" routerLinkActive="active" class="float-left forgot-link my-2">Forgot Password ?</a>
              <button (click)="logIn()" type="submit" class="btn btn-purple float-right">LOGIN</button>
            </div>

            <div class="form-divider"></div>

            <a href="#" class="btn btn-facebook text-uppercase"><i class="fa fa-facebook-square"></i> Login with facebook</a>
            <div class="text-center mt-4">
              <a routerLink="/registration" routerLinkActive="active">Create New Account</a>
            </div>
          </form>
        </div>
        <!--/login form-->

        <!--login promo-->
        <div class="login-promo basic-gradient  text-white position-relative">
          <div class="login-promo-content text-center">
            <a href="#" class="mb-4 d-block">
              <img class="pr-3" src="assets/img/logo-icon.png" srcset="assets/img/logo-icon@2x.png 2x" alt="">
              <span class="text-uppercase weight800 text-white f18">dashlab</span>
            </a>
            <h1 class="text-white">Let’s Start The Journey</h1>
            <p>Enter the most beautiful admin ever</p>
            <a href="#" class="play-btn mt-4"><i class="fa fa-play"></i></a>
          </div>
        </div>
        <!--/login promo-->

      </div>
    </div>
  </div>

  <!--<script src="assets/vendor/jquery/jquery.min.js"></script>-->
  <!--<script src="assets/vendor/jquery-ui/jquery-ui.min.js"></script>-->
  <!--<script src="assets/vendor/popper.min.js"></script>-->
  <!--<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>-->
  <!--<script src="assets/vendor/jquery-dropdown-master/jquery.dropdown.js"></script>-->
  <!--<script src="assets/vendor/m-custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>-->
  <!--<script src="assets/vendor/icheck/skins/icheck.min.js"></script>-->
<!---->
  <!--<script src="assets/vendor/modernizr.js"></script>-->
<!---->
  <!--<script src="assets/js/scripts.js"></script>-->
</div>
