<div class="row">
  <div class="col-md-6 mx-auto">

    <!-- form card login -->
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Login</h3>
      </div>
      <div class="card-body">
        <form class="form" autocomplete="off" id="formLogin" novalidate="">
          <div class="form-group">
            <label for="email">Email</label>
            <input #email_field="ngModel" [(ngModel)]="userLogin.email" email name="email" id="email" class="form-control">
            <div *ngIf="email_field.invalid && (email_field.dirty || email_field.touched)" class="alert alert-danger">
              <div *ngIf="email_field.errors.email">
                Email is incorrect.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input #password_field="ngModel" [(ngModel)]="userLogin.password" minlength="4" name="password" id="password" class="form-control">
            <div *ngIf="password_field.invalid && (password_field.dirty || password_field.touched)" class="alert alert-danger">
              <div *ngIf="password_field.errors.minlength">
                Name must be at least 4 characters long.
              </div>
            </div>
          </div>
          <div>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description small text-dark">Remember me on this computer</span>
            </label>
          </div>
          <button (click)="logIn()" type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
        </form>
      </div>
      <!--/card-block-->
    </div>
    <!-- /form card login -->

  </div>


</div>
