<div class="row">
  <div class="card cheap-card" style="width: 21.8rem;" *ngFor="let cheap of cheaps | paginate: { itemsPerPage: 3, currentPage: p }">
  <!--<div class="card cheap-card" style="width: 21.8rem;" *ngFor="let cheap of cheaps">-->
    <div class="card-body">
      <p>
        Автор:
        <span>
          {{cheap.user.email}}
        </span>
      </p>
      <p>
        Статус:
        <span>
          {{cheap.status}}
        </span>
      </p>
      <hr>
      <h5>Тип предложения:<span> {{cheap.status}} </span></h5>
      <h5>Название:<span> {{cheap.offer_type}} </span></h5>
      <!--<h5>Город отправления:<span> {{getPlaceName(cheap.from_google_place_id)}} </span></h5>-->
      <h5>Город прибытия:<span> --- </span></h5>
      <h5>Авиакомпания:<span> --- </span></h5>
      <h5>Прямой:<span> --- </span></h5>
      <h5>Авиакомпания2:<span> --- </span></h5>
      <h5>Город пересадки:<span> --- </span></h5>
      <h5>Цена:<span> --- </span></h5>
      <h5>Даты:<span> --- </span></h5>
      <h5>Дата конца предложения:<span> --- </span></h5>
      <h5>Процент скидки:<span> --- </span></h5>
      <h5>Описание:<span> --- </span></h5>
    </div>
    <div class="card-body">
      <a *ngIf="user.role != 'member'" href="#" class="btn btn-success">Опубликовать</a>
      <a [routerLink]="['/edit_offer', cheap.id]"
      class="btn btn-purple">Редактировать</a>
    </div>
  </div>
</div>
<div class="row">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <!--<ngb-pagination [collectionSize]="30" [(page)]=p [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>-->
</div>
